/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.hidden{
	display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
 button {
   border: solid 2px black;
   padding: 20px;
 }