* {
    box-sizing: border-box;
    margin: 0;
}

header,footer {
    height: 100px;
    clear: both;    
}

#one, #two, #three {
    float: left;
    background: pink;
}

#one {    
    height: 200px;
    width: 100%;
    }

#two {    
    height: 300px;
    width:40%;   
}

#three {    
    height: 300px;
    width:60%;   
}

header,footer,section {
    border: 1px solid grey;
}