* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    height: 100%;
}

/* ======================================================================
    longview 
 =====================================================================
*/
@media screen and (min-width:901px){
   header, footer, section {
        border: 5px solid #fff6f6;        
   }

   .shortView, .midView {
       display: none;
   }

    header,footer{
        height: 200px; 
        text-align: center;
        width: 100%;            
        font-size: 2rem;
        color: #e2b46a;
        background: #ffbede;
        clear: both;
     }    
     
     section {
         color:#cfe2f3;
         background:#efe7ff;
         height: 500px;
         width: 33.33%;
         float: left;
         padding: 15px;
         font-size: .9rem;
         line-height: 1.75rem;        
     }
}

/* ======================================================================
    midview 
 =====================================================================
*/

@media screen and (min-width:601px) and (max-width:900px){
    header, footer, section {
        border: 3px solid #de2d12;       
        }

        .longView, .shortView {
            display: none;
        }

        header,footer{
            height: 170px; 
            text-align: center;
            width: 100%;            
            font-size: 1.75rem;
            color: #070707;
            background: #4f9c96;
            clear: both;
         }    
         
         section {
             color:#070707;
             background:#d1b12c;
             height: 450px;
             width: 33.33%;
             float: left;
             padding: 15px;
             font-size: .75rem;
             line-height: 1.70rem;            
         }
   }
 
/* ======================================================================
    SMALLVIEW 
 =====================================================================
*/

   @media screen and (max-width:600px){
    header, footer, section {
        border: 1px solid #869d7e;       
        }

        .longView, .midView {
            display: none;
        }

        header,footer{
            height: 100px; 
            text-align: left;
            width: 100%;    
            padding: 5px 10px;        
            font-size: 1.55rem;
            color: #3d0d0a;
            background: #b7e7a6;
         }    
         
         section {
             color:#6b8761;
             background:#ddffce;
             height: 90px;
             width: 100%;
             padding-left: 15px;
             font-size: .60rem;
             line-height: 1.45rem;
             text-align: left;            
         }
   }